@CHARSET "UTF-8";

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 85%;
	z-index: 1;
	position: relative;
}

#timeline, .dialog, .inline-bar {
	height: 15%;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px
		rgba(0, 0, 0, 0.24);
	transition: box-shadow 0.2s ease;
	z-index: 10;
	position: relative;
}

#timeline:hover, .dialog:hover, .inline-bar:hover {
	z-index: 2;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 0px 8px 8px 0px
		rgba(0, 0, 0, 0.24);
}

/* Chart Styling */
.background.bar {
	fill: #ccc;
}

.foreground.bar {
	fill: steelblue;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.axis text {
	font: 10px sans-serif;
}

.brush rect.extent {
	fill: steelblue;
	fill-opacity: .125;
}

.brush .resize path {
	fill: #eee;
	stroke: #666;
}

body .dialog {
	position: fixed;
	bottom: 2em;
	left: 2em;
	margin: -15em -15em 0 0;
	width: 30em;
	height: 28em;
	background-color: #fff;
	padding: 1em;
	font-family: Helvetica, Arial, "sans-serif";
}

.inline-bar {
	height: 1.3em;
	padding: 0.3em;
	margin: 0.5em
}
.outline-label {
	 display: inline-block;
	 vertical-align: middle;
}