@CHARSET "UTF-8";

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 90%;
}

#timeline {
	height: 10%;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px
		rgba(0, 0, 0, 0.24);
	transition: box-shadow 0.2s ease;
}

#timeline:hover {
	z-index: 2;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12), 0px 8px 8px 0px
		rgba(0, 0, 0, 0.24);
}